/* || CSS variables */
* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-dark: #060b27;
  --primary-light: #f0f8ff;
  --accent-clr-blue: #7a38ff;
  --accent-clr-purple: #884cff;
  --accent-clr-grey: rgb(131, 125, 125);
  --accent-clr-green: rgb(61, 234, 110);
  --text-color-accent: linear-gradient(270deg, #4f56ff, #ff4980);

  /* typography */
  --title-font: 'Merriweather', serif;
  --text-font: 'Roboto', sans-serif;
}

/* || Base CSS */
html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary-dark);
  color: var(--primary-light);
  min-height: 100vh;
  position: relative;
  font-family: var(--text-font);
}

img {
  width: 100%;
}

h1 {
  font-family: var(--title-font);
}

h2 {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

input,
select {
  border-radius: 5px;
  font-family: inherit;
}

fieldset {
  border: none;
  margin-bottom: 2rem;
  padding-left: 0;
}

/* utility */
.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-color-accent {
  background-image: var(--text-color-accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline {
  position: relative;
  margin-right: 1rem;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 10%;
  height: 25px;
  width: 80%;
  border: solid 4px #ff7586;
  border-color: #ff7586 transparent transparent transparent;
  border-radius: 50%;
}

.show {
  display: grid;
}

.hide {
  display: none;
}

.fade-in {
  animation: fade-in .8s ease;
}

.fade-out {
  animation: fade-out .8s ease;
}

/* || Form */
.form__group {
  margin-bottom: 1rem;
}

.form__group label {
  display: block;
  margin-bottom: .2rem;
  color: #59429d;
  font-weight: 700;
}

.form__group input,
.form__group select {
  display: block;
  padding: .2rem 0 .2rem .4rem;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgb(0 0 0 / .2);
}

.form__group input:focus,
.form__group select:focus {
  background-color: var(--primary-light);
}

.form__group select option {
  padding-right: 1rem;
}

.form__button {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: inherit;
  background: var(--accent-clr-blue);
  color: var(--primary-light);
  border: 0;
  margin-bottom: 1rem;
  padding: .8rem 2.4rem;
  box-shadow: 2px 2px 2px rgb(0 0 0 / .2);
  text-shadow: 1px 1px 1px rgb(0 0 0 / .5);
  border-radius: 20px;
  text-transform: capitalize;
}

.form__button:hover {
  background-color: var(--accent-clr-purple);
  text-shadow: none;
}

.form__button,
select {
  cursor: pointer;
}


/* || icons & buttons */
.nav__button-ctn {
  padding: 8px;
}

.nav__button-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #6f86ff, #b372ce 49%, #ff7586);
  box-shadow: 0 3px 7px 0 rgb(19 17 26 / 14%);
  padding: 2px;
  transform: scale3d(1, 1, 1.01);
  transform-style: preserve-3d;
  border-radius: 25%;
  font-size: 1.2rem;
}

.nav__button-gradient:hover {
  transform: scale3d(1.04, 1.04, 1.01);
  padding: 3px;
}

.nav__button {
  padding: .8rem 2.4rem;
  background-color: var(--primary-dark);
  border-radius: 25%;
  line-height: 1.111em;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* || Modal section */
.modal {
  place-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(31 31 71 / .9);
  overflow: auto;
  z-index: 1;
}

.modal__content {
  display: flex;
  border-radius: 16px;
  width: min(600px, 80%);
  min-height: 250px;
  background: rgb(255 255 255 / .15);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / .37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgb(255 255 265 / .18);
  border-radius: 1rem;
  z-index: 2;
  padding: 1rem 1rem 1rem 0;
}

.modal__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.close-btn {
  color: var(--primary-light);
  margin-left: 2rem;
  align-self: flex-start;
  padding: .2rem;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-clr-blue);
  text-decoration: none;
  cursor: pointer;
}

.book__img {
  animation: move 3s ease-in-out infinite alternate;
}

.modal__right {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
  flex: 1;
  padding: .5rem 0 .5rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


/* || Custom CSS */
.nav,
.nav__brand,
.add__book-ctn {
  display: flex;
  align-items: center;
}

.header {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 30%);
}

.nav {
  justify-content: space-between;
  padding: 1rem 0;
}

.nav__brand {
  gap: 1rem;
}

.nav__brand-icon {
  width: 100px;
}

.nav__brand-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primary-light);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.3rem 0 0 2rem;
  position: relative;
}

.main__title {
  font-size: 3.5rem;
  text-transform: capitalize;
  padding-bottom: 3rem;
}


/* || Bookshelf, book display */
.bookshelf-ctn {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  max-width: 100%;
}

/* || Created DOM elements for the each book */
.book {
  background: rgb(31 31 71 / .5);
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  max-width: 190px;
  transform: perspective(588px);
  transform-style: preserve-3d;
  transition: transform 500ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 500ms cubic-bezier(.165, .84, .44, 1);
  text-transform: capitalize;
}

.book:hover {
  transform: rotateX(20deg) perspective(588px);
  box-shadow: 0 10px 4px 0 rgb(0 0 0 / .4);
}

.book h2 {
  font-size: 1rem;
  margin-bottom: .2rem;
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: rgb(61, 234, 110);
  word-wrap: break-word;
}

.author {
  font-size: .8rem;
  font-weight: 700;
  color: var(--accent-clr-grey);
}

.btn {
  background: var(--accent-clr-blue);
  border: none;
  padding: .2rem .6rem;
  border-radius: .5rem;
  color: inherit;
  font-size: .8rem;
  font-weight: 700;
}
.btn-delete {
  padding: .3rem 1rem;
  font-size: .9rem;
}

.status__clr {
  color: var(--accent-clr-blue);
  width: 70px;
  font-weight: 400;
}

.status__group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: .2rem;
}

/* || Modal for deleting the book */
.delete__modal {
  position: absolute;
  top: 0;
  left: 0;
  place-content: center;
  width: 100%;
  height: 100%;
}

.delete__modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  background: rgb(31 31 71 / .9);
}

.delete__modal-btns {
  display: flex;
  gap: 2rem;
}

.delete__modal-btns button {
  padding: .8rem 2rem;
  border-radius: .3rem;
  border: none;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.cancel {
  background-color: var(--accent-clr-grey);
  color: var(--primary-dark);
}

.delete {
  background-color: #ED5E68;
  color: var(--primary-light);
}


/* || Keyframes */
@keyframes fade-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes move {
  from {
    transform: translateY(15px);
  }

  to {
    transform: translateY(-15px);
  }
}