/* || CSS variables */
* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-dark: #060b27;
  --primary-light: #e5e5e5;
  --primary-accent: #dbeafe;
  --accent-clr: #3b82f6;
  --text-color-accent: linear-gradient(270deg, #4f56ff, #ff4980);

  /* typography */
  --title-font: 'Merriweather', serif;
  --text-font: 'Roboto', sans-serif;
}

/* || Base CSS */
html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary-dark);
  color: var(--primary-light);
  min-height: 100vh;
  position: relative;
}

img {
  width: 100%;
}

h1,
h2 {
  font-family: var(--title-font);
}

h2 {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

/* utility */
.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-color-accent {
  background-image: var(--text-color-accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abrev {
  position: relative;
  margin-right: 1rem;
}

.abrev::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 10%;
  height: 25px;
  width: 80%;
  border: solid 4px #ff7586;
  border-color: #ff7586 transparent transparent transparent;
  border-radius: 50%;
}





/* || icons & buttons */
.nav__button-ctn {
  padding: 8px;
}

.nav__button-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #6f86ff, #b372ce 49%, #ff7586);
  box-shadow: 0 3px 7px 0 rgb(19 17 26 / 14%);
  padding: 2px;
  transform: scale3d(1, 1, 1.01);
  transform-style: preserve-3d;
  border-radius: 25%;
  font-size: 1.2rem;
}

.nav__button-gradient:hover {
  transform: scale3d(1.04, 1.04, 1.01);
  padding: 3px;
}

.nav__button {
  padding: .8rem 2.4rem;
  background-color: var(--primary-dark);
  border-radius: 25%;
  line-height: 1.111em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.01em;

}

.fa-plus {
  color: var(--accent-clr);
  font-size: 3rem;
}

.plus {
  animation: pulse 1.5s ease-in-out infinite;
  border-radius: 50%;
}

.plus:hover {
  animation: pulse 0s ease-in-out infinite;
}


/* || Custom CSS */
.nav,
.nav__brand,
.add__book-ctn {
  display: flex;
  align-items: center;
}

.header {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 30%);
}

.nav {
  justify-content: space-between;
  padding: 1rem 0;
}

.nav__brand {
  gap: 1rem;

}

.nav__brand-icon {
  width: 100px;
}

.nav__brand-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  color: #dfa95f;
}

.add__book-ctn {
  padding-top: 2rem;
  gap: 1rem;
}

.add__book {
  font-family: var(--text-font);
  font-size: 2.4rem;
}

.main {
  flex: 1;
  padding: 1.3rem 0 0 2rem;
}

.main__title {
  font-size: 3.5rem;
  text-transform: capitalize;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1.01);
  }

  to {
    transform: scale3d(1.08, 1.08, 1.01);
  }
}

.modal-wrap {
  display: grid;
  place-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(31 31 71 / .9);
  overflow: auto;
  z-index: 1;
}

.modal {
  display: flex;
  border-radius: 16px;
  width: min(800px, 80%);
  min-height: 250px;
  background: rgb(255 255 255 / .15);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / .37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgb(255 255 265 / .18);
  border-radius: 1rem;
  z-index: 2;
  color: whitesmoke;
  animation: modalOpen .8s ease;
}
  .modal__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
    .close-btn {
      color: white;
      font: 30px;
    }
    .close-btn:hover,
    .close-btn:focus
 {
  color: var(--primary-dark);
  text-decoration: none;
  cursor: pointer;
 }
.display-none {
  display: none;
}

/* blob */
.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255,0.42) 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  -webkit-animation: move 25s infinite alternate;
          animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}
.blob:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #fa709a,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 96% 14% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes modalOpen {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}